{% extends 'LoginBase.html' %}
{% block staticResourses %}
    <link rel = "stylesheet" type = "text/css" href = "{% static '/RSFS/css/main.css' %}">
{% endblock %}


{% block content %}
    <table>
    <tr>
        <th>Receiver Name</th>
        <th>Shipping company</th>
        <th>Source</th>
        <th>Destination</th>
    </tr>
        {% for shipment in shipmentList  %}
            <tr>
                <td>{% shipment.ReceiverName %}</td>
                <td>{% shipment.ShipmentCompany %}</td>
                <td>{% shipment.source %}</td>
                <td>{% shipment.destination %}</td>
                <td>
                    <form method="post" action="{% url 'hub:ShipperShipmentList' shipmentId=shipment.pk %}">
                        {% csrf_token %}
                        <button type="submit">View Details</button>
                    </form>
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}