{% extends 'LoginBase.html' %}
{% block staticResourses %}
    <link rel = "stylesheet" type = "text/css" href = "{% static '/RSFS/css/main.css' %}">
{% endblock %}


{% block content %}
    <div class="mainDiv1"> </div>

    <form class = "search-bar">

        <input type = "text" name = "search" placeholder = "Type here">
        <button id = "Go"> Go </button>
    </form>

    <div class = "news">
        <label id = "news-topic"> NEWS </label>
        <!--<label class = "news-content"> -->
        <a href = "https://www.pymnts.com/spac/2021/amex-global-busniess-travel-go-public-spac-deal/"> <p id = "news1" class = "news-content"> Amex Global Business Travel to Go Public in SPAC Deal </p> </a>
        <a href = "https://www.outlookindia.com/newsscroll/citi-to-exit-consumer-banking-busniess-in-india/2065333"> <p id = "news2" class = "news-content"> Citi to exit consumer banking busniess in India </p> </a>
        <a href = "https://indianexpress.com/article/business/tafe-cmd-to-head-public-enterprises-selection-board-7255194/"> <p id = "news3" class = "news-content"> TAFE CMD to head Public Enterprises Selection Board </p> </a>
        <a href = "https://www.buffalobills.com/news/josh-norman-buffalo-busniess-blitz-distribute-500-000-to-local-businesses"> <p id = "news4" class = "news-content"> A champion for Buffalo | Josh Norman distributes $500,000 to local businesses </p> </a>
        <a href = "https://indianexpress.com/article/india/ease-of-doing-busniess-rankings-hp-jumps-9-places-now-in-top-10-6584828/"> <p id = "news5" class = "news-content"> Ease of doing business: HP jumps 9 places, now in top 10 </p> </a>
    </div>

    <div class = "feed">
        <label id = "feed-topic"> Feed </label>
        <label id = "feed-content-topic"> ROBERT DOWNEY JR </label>
        <label id = "feed-content">
            Robert John Downey Jr. (born April 4, 1965) is an American actor and producer.
            His career has been characterized by critical and popular success in his youth
        </label>
    </div>
    <table>
    <tr>
        <th>Receiver Name</th>
        <th>Shipping company</th>
        <th>Source</th>
        <th>Destination</th>
    </tr>
        {% for shipment in shipmentList  %}
            <tr>
                <td>{% shipment.ReceiverName %}</td>
                <td>{% shipment.ShipmentCompany %}</td>
                <td>{% shipment.source %}</td>
                <td>{% shipment.destination %}</td>
                <td>
                    <form method="post" action="{% url 'hub:ShipperShipmentList' shipmentId=shipment.pk %}">
                        {% csrf_token %}
                        <button type="submit">View Details</button>
                    </form>
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}