{% extends 'RSFS/NonLoginBase.html' %}

{% block staticResourses %}
    {% load static %}
    {% load myfilters %}
    <link rel = "stylesheet" type = "text/css" href = "{% static '/RSFS/css/login.css' %}">
{% endblock %}

{% block content %}
    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="../assets/brand/LPAI-Logo-new.jpg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
{#    <div class="loginDiv">#}
{#        <label class="logLabel" id="logLabel1">Login</label>#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            <input type="text" id="logText1" class="logText" name="userName" placeholder="E-mail">#}
{#            <br>#}
{#            <input type="password" id="logText2" class="logText" name="password" placeholder="Password">#}
{#            <br>#}
{#            {% for field in form %}#}
{#                <div class="fieldWrapper">#}
{#                    {{ field.errors }}#}
{#                    {{ field|addCSSClass:"logText" }}#}
{#                    {% if field.help_text %}#}
{#                    <p class="help">{{ field.help_text|safe }}</p>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
{#            <input type="submit" id="logButton1" value="login">#}
{#        </form>#}
{#        <label id="logLabel2">Don't have an account?</label>#}
{#        <label id="logLabel3"> Sign Up</label>#}
{#    </div>#}
{#    <img src="https://www.allen.ac.in/apps2223/assets/images/login.jpg" alt = "icon">#}
{% endblock %}